# Data Science Tools and Ecosystem
## In this notebook, Data Science Tools and Ecosystem are summarized.

### **Objectives:**
##### - List of popular languages
##### - List of commonly used libraries
##### - List of Data Science Tools
##### - Basic Arithmetic Expressions

##### Some of the popular languages that Data Scientists use are:
##### 1. Python
##### 2. R
##### 3. Scala

##### Some of the commonly used libraries used by Data Scientists include:
##### 1. TensorFlow
##### 2. NumPy
##### 3. Pandas

|Data Science Tools|
|------------------|
|RStudio|
|Apache Spark|
|Apache Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335